<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
  <% ["Paul", "John", "Georges"].each do |name| %>
    <li>
      <h2><%= name.capitalize %></h2>
      <%= image_tag "http://placehold.it/100x100", class: 'img-circle' %>
    </li>
    <% end %>
  </ul>

  <h3 class="padded">
    <%= link_to 'mail', 'mailto:contact@airbnb.com' %>
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>
</div>
